iot/node-red-data/flows.json
[
    {
        "id": "1b72ad3e978b41bf",
        "type": "tab",
        "label": "Smart City ML Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ (Wokwi Publik)",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt_grid_wokwi",
        "type": "mqtt in",
        "z": "1b72ad3e978b41bf",
        "name": "Wokwi: Grid",
        "topic": "city/+/grid",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_hivemq",
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "func_grid_prep"
            ]
        ]
    },
    {
        "id": "func_grid_prep",
        "type": "function",
        "z": "1b72ad3e978b41bf",
        "name": "Prep Grid & Req Token",
        "func": "let d = msg.payload;\nif (!d.id) {\n    d.id = \"WKW-GRD-\" + Date.now();\n    d.timestamp = new Date().toISOString();\n}\n// Tahan data sensor sementara di variabel lain\nmsg.sensor_data = d;\n\n// Siapkan payload untuk minta token M2M\nmsg.payload = {\n    \"grant_type\": \"client_credentials\",\n    \"client_id\": \"iot_gateway\",\n    \"client_secret\": \"password\"\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "http_grid_token"
            ]
        ]
    },
    {
        "id": "http_grid_token",
        "type": "http request",
        "z": "1b72ad3e978b41bf",
        "name": "POST /oauth/token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api-gateway:3000/oauth/token",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "func_grid_auth"
            ]
        ]
    },
    {
        "id": "func_grid_auth",
        "type": "function",
        "z": "1b72ad3e978b41bf",
        "name": "Set Auth & Restore Data",
        "func": "if (msg.payload && msg.payload.access_token) {\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + msg.payload.access_token,\n        \"Content-Type\": \"application/json\"\n    };\n    // Kembalikan data sensor ke payload utama untuk dikirim\n    msg.payload = msg.sensor_data;\n    return msg;\n} else {\n    node.error(\"Gagal mendapatkan token\", msg);\n    return null;\n}",
        "outputs": 1,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "http_grid_data"
            ]
        ]
    },
    {
        "id": "http_grid_data",
        "type": "http request",
        "z": "1b72ad3e978b41bf",
        "name": "POST /api/grid-readings",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api-gateway:3000/api/grid-readings",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "debug_grid"
            ]
        ]
    },
    {
        "id": "debug_grid",
        "type": "debug",
        "z": "1b72ad3e978b41bf",
        "name": "API Response (Grid)",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1220,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_power_wokwi",
        "type": "mqtt in",
        "z": "1b72ad3e978b41bf",
        "name": "Wokwi: Power",
        "topic": "city/+/power",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_hivemq",
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "func_power_prep"
            ]
        ]
    },
    {
        "id": "func_power_prep",
        "type": "function",
        "z": "1b72ad3e978b41bf",
        "name": "Prep Power & Req Token",
        "func": "let d = msg.payload;\nif (!d.id) {\n    d.id = \"WKW-PWR-\" + Date.now();\n    let now = new Date();\n    d.timestamp = now.toISOString();\n    d.hour = now.getHours();\n    let day = now.getDay();\n    d.day_of_week = day === 0 ? 6 : day - 1;\n}\nmsg.sensor_data = d;\nmsg.payload = {\n    \"grant_type\": \"client_credentials\",\n    \"client_id\": \"iot_gateway\",\n    \"client_secret\": \"password\"\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "http_power_token"
            ]
        ]
    },
    {
        "id": "http_power_token",
        "type": "http request",
        "z": "1b72ad3e978b41bf",
        "name": "POST /oauth/token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api-gateway:3000/oauth/token",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "func_power_auth"
            ]
        ]
    },
    {
        "id": "func_power_auth",
        "type": "function",
        "z": "1b72ad3e978b41bf",
        "name": "Set Auth & Restore Data",
        "func": "if (msg.payload && msg.payload.access_token) {\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + msg.payload.access_token,\n        \"Content-Type\": \"application/json\"\n    };\n    msg.payload = msg.sensor_data;\n    return msg;\n} else {\n    node.error(\"Gagal mendapatkan token\", msg);\n    return null;\n}",
        "outputs": 1,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "http_power_data"
            ]
        ]
    },
    {
        "id": "http_power_data",
        "type": "http request",
        "z": "1b72ad3e978b41bf",
        "name": "POST /api/power",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api-gateway:3000/api/power",
        "x": 980,
        "y": 200,
        "wires": [
            [
                "debug_power"
            ]
        ]
    },
    {
        "id": "debug_power",
        "type": "debug",
        "z": "1b72ad3e978b41bf",
        "name": "API Response (Power)",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_sensor_wokwi",
        "type": "mqtt in",
        "z": "1b72ad3e978b41bf",
        "name": "Wokwi: Sensor",
        "topic": "city/+/sensor",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_hivemq",
        "inputs": 0,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "func_sensor_prep"
            ]
        ]
    },
    {
        "id": "func_sensor_prep",
        "type": "function",
        "z": "1b72ad3e978b41bf",
        "name": "Prep Sensor & Req Token",
        "func": "let d = msg.payload;\nif (!d.id) {\n    d.id = \"WKW-SNS-\" + Date.now();\n    let now = new Date();\n    d.timestamp = now.toISOString();\n    d.timestamp_hour = now.getHours();\n}\nmsg.sensor_data = d;\nmsg.payload = {\n    \"grant_type\": \"client_credentials\",\n    \"client_id\": \"iot_gateway\",\n    \"client_secret\": \"password\"\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "http_sensor_token"
            ]
        ]
    },
    {
        "id": "http_sensor_token",
        "type": "http request",
        "z": "1b72ad3e978b41bf",
        "name": "POST /oauth/token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api-gateway:3000/oauth/token",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "func_sensor_auth"
            ]
        ]
    },
    {
        "id": "func_sensor_auth",
        "type": "function",
        "z": "1b72ad3e978b41bf",
        "name": "Set Auth & Restore Data",
        "func": "if (msg.payload && msg.payload.access_token) {\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + msg.payload.access_token,\n        \"Content-Type\": \"application/json\"\n    };\n    msg.payload = msg.sensor_data;\n    return msg;\n} else {\n    node.error(\"Gagal mendapatkan token\", msg);\n    return null;\n}",
        "outputs": 1,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "http_sensor_data"
            ]
        ]
    },
    {
        "id": "http_sensor_data",
        "type": "http request",
        "z": "1b72ad3e978b41bf",
        "name": "POST /detect/anomaly",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api-gateway:3000/detect/anomaly",
        "x": 990,
        "y": 300,
        "wires": [
            [
                "debug_sensor"
            ]
        ]
    },
    {
        "id": "debug_sensor",
        "type": "debug",
        "z": "1b72ad3e978b41bf",
        "name": "API Response (Sensor)",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1220,
        "y": 300,
        "wires": []
    }
]